<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .mjs
  AddType text/css .css
  AddType image/svg+xml .svg
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /liderx/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /liderx/index.html [L]
</IfModule>
